@import url("colors.css");
@import url("fonts.css");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 0.625rem;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  background-color: #eee;
}

.navbar {
  padding: 1.6rem 4.8rem;
  /* background-color: #fff; */
  background-color: #37826e;
  box-shadow: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.075);
}

.color-icon {
  margin-right: auto;
  color: #fff;
  font-size: 4.4rem;
}

.ul-list {
  list-style: none;
}

.navbar-item:link,
.navbar-item:visited {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  transition: border-bottom 0.3s;
  border-bottom: 2px solid transparent;
}

.navbar-item:hover,
.navbar-item:active {
  border-bottom: 2px solid #fff;
}

.arrow-list-item {
  margin: 0 2.4rem;
}

.arrow {
  font-size: 2.4rem;
}

.pagination-list li {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid #000;
  cursor: pointer;

  /* Position */
  position: relative;
}

.pagination-item {
  font-size: 2rem;
  color: #000;
  border: none;
  background-color: transparent;

  /* Position */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pagination-item:hover,
.arrow:hover {
  cursor: pointer;
}

.pagination-item-active {
  color: #fff;
}

.active-list {
  background-color: #000;
}

/* GENERAL */
.container {
  width: fit-content;
  margin: 0 auto;
  padding: 4.8rem;
  /*
    I had changed the vertical padding to make the
    WHITESPACE consistent all over the page
  */
  /* padding: 3.2rem 4.8rem; */
}

.general-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center-ele {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-4-cl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-3-cl {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-2-cl {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-1-cl {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.grid-gap-sm {
  display: grid;
  gap: 3.2rem;
}

.grid-gap-md {
  display: grid;
  gap: 4.8rem;
}

.grid-gap-lg {
  display: grid;
  gap: 9.6rem;
}

.horizontal-padding-sm {
  padding: 0 1.2rem;
}

.horizontal-padding-md {
  padding: 0 2.4rem;
}

.horizontal-padding-lg {
  padding: 0 4.8rem;
}

.horizontal-gap-sm {
  display: flex;
  gap: 2.4rem;
}

.horizontal-gap-md {
  display: flex;
  gap: 4.8rem;
}

.horizontal-gap-lg {
  display: flex;
  gap: 12.8rem;
}

.white-icon {
  color: #fff;
}

.hidden {
  display: none;
}
